@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital&display=swap');
/* Universal css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  height: 100vh;
}

/* Main Sections */
head{
  margin: 0;
  padding: 0;
}


header{
  position: absolute;
  border-top: 2px #ffffff solid;
  width: 100%;
  top: 0%; 
  margin-right: 60%;
  display: inline-flex;
  width: 100%;
}

.logo{
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;  
  margin: 2.5%;
  width: 180px;
  padding: 50px 10px;
  
  /* background-color: #326063; */
}

/* navbar */

.panel {
  position: fixed;
  left: -15.625em; /*or width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
}


/*  
  Demo Specific Styles
  ====================
*/
.menu-ul{
  text-align: left;  
  padding-left: 30px;
  list-style: none;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

body {
  color: #101820;
  line-height: 1.5;
}

.wrap {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

}

.panel {
  color: #000;
  font-family: Poppins;
  background-color: #a4d9e0;
}

.panel a {
  padding-left: 15px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  font-size: 1.2em;
  text-decoration-line: none;
}

.menu-link{
  color: #000;
  text-decoration: none;
  margin: 10%;
  font-size: 180%;
  position: fixed;
}

/* video inside of text */

.banner{  
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.banner video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  }

.banner-title{
  /*without position absolute gives it a cool side panel video */
  width: 100%;
  height:100%;
  font-size: 150px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: screen;
  border: #000 10px solid;
  background: linear-gradient( to bottom, #fffffffa 20%, transparent);
  font-family: Poppins;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .banner-title{
      font-size: 15vw;
      padding-top: 5%;
    }
}

@media screen 
  and (max-device-width: 100px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .banner-title{
      font-size: 15vw;
      padding-top: 20%;
    }
}

#border-button{
  display: flex;
  justify-content: center;
  text-align: center; 
}


#home-button{
  position: absolute;
  text-align: center;
  border-radius: 20px;
  border-width: 7px;
  background-color: transparent;
  color: #000000;
  border-color: #97dfb5;
  font-weight: bold;
  text-transform: uppercase;
  top: 75vh;
  overflow: hidden;
  padding: 10px;
}

footer{
    position: relative;
    height: 10%;
    text-align: center;
    width: 100%;
    background-color: #2b3331;
    padding-top: 30px;
    color: #fff;
    border-top: 2px #f3f56f solid;
}

/* Social media links in Nav */
#media-outer{
  box-sizing: border-box;
  background-color: #2b3331;
  border-top: 2px #f3f56f solid;
  padding-top: 5px;
  text-align: center;
}

#media-inner{   
  
}

#media-div{
  display: inline-flex;
  box-sizing: border-box;
}

#media-div a{
  text-decoration:none;
  border:0;
  width:32px;
  height:32px;
  margin:5px;
  color:#000000;
  border-radius:50%;
  background-color:#fff;
  box-sizing: border-box;
}

#facebook{
  text-decoration: none;
  border: 0;
  width: 32px;
  height: 32px;
  padding: 2px;
  margin: 5px;
  color: #000;
  background-color: #fff;
}

.niftybutton-facebook{
  display: flex;
  fill: currentColor;
}

#instagram{
  width: 20px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}


/* box containers of info*/
  .paragraph{
  color: #252d33;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
} 

/*photo gallery*/
.photos-container{
  background-color: #000;
  z-index: 1;
}

.ul-container{
  display: inline-flex; 
}

.image-container{
  list-style: none;
}

.unfiltered{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  border-radius: 10px;
  background-color: #1b2531;
}

/*Comparison slider CSS & caption */
.caption-container{   
  background-color: #1b2531;
  color: #fff;
  width: 100vh;
  border-radius: 10px;
  list-style: none;
  padding: 200px 100px 100px 100px;
  font-weight: bold;
}

.preset-title{
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.highlight-title{
  color: #e0350a;
  text-decoration: underline;
  
}

.preset-paragraph{
  line-height: 2.5em;
  font-style: italic;
}

img-comparison-slider {
  --divider: 3px solid #c0c0c0;
  --hint-opacity: 0.6;
  z-index: 2;
}

.pair{
  display: inline-flex;
}



