@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/* Universal css */
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  height: 100vh;
}

/* Main Sections */
head{
  margin: 0;
  padding: 0;
}


/* Social media links in Nav */
#media-outer{
  width: 100%;
  padding-left: 90%;
  box-sizing: border-box;
  padding-top: 4px;
  background: linear-gradient(to right,#C6FFDD 33%, #FBD786 63%, #f7797d 100%);
  border-bottom: #000000 2px solid;
  border-top: #000000 2px solid;
}

#media-inner{   
  display: flex;
}

#facebook{
  width: 55%;
  border-radius: 5px;
}

#instagram{
  width: 50%;
}

header{
  border-top: 2px #ffffff solid;
  position: absolute;
  width: 100%;
  top: 0%;
  display: inline-flex;
}


.main-title{
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;  
  width: 100%;
}

.img-container{
  width: 20vw;
  margin-left: 7%;
  margin-top: 3%;
  box-sizing: border-box;
}

.main-nav{
  text-align: center;
  width: 100%;
  margin-top: 6%;
}

.nav-bar{
  color: #C6FFDD;
}

.nav-bar a{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 125%;
  }

  .resources{
    color: #000;
    border: #3499e700 2px solid;
  }

  .community{
    color: #000;
    margin-left: 5%;
  }
  .aboutUs{
    color: #000;
    margin-left: 5%;
  }

  .login{
    color: #000;
    margin-left: 15%;
  }

  .signup{
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    background: #252d33;
    padding: 10px;
    border: #3499e700 2px solid;
    margin-left: 5%;
  }



/* box containers of info*/
/*
  .paragraph{
  color: #252d33;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
} 



/ .ul-container{
  box-sizing: border-box;
  display: inline-flex;
  text-align: center;

}

.box-info{
  border: 2px #000 solid;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  padding: 50px;
  list-style: none;
  box-shadow: 15px 18px 0px -8px #252d33;
  border-color: #7ffad1;
  color: #140606;
  background-color: #8de5f5;
  border-radius: 40px;
  border-width: 10px;
  width: 33%;
  opacity: 80%;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

span{
  color: #e0350a;
  font-family: Arial, Helvetica, sans-serif;
} */






/* video inside of text */

.banner{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.banner video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  }

.banner-title{
  /*without position absolute gives it a cool side panel video */
  width: 100%;
  height:100%;
  font-size: 25vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: screen;
  border: #000 10px solid;
  background: linear-gradient( to bottom, #fffffffa 80%, transparent);
  /* background: #fff; */
  padding-top: 10%;
  padding-bottom: 10%;
  
}


#border-button{
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center; 
  padding-bottom: 2em;
  width: 100vw;
}


#home-button{
  text-align: center;
  width: 15%;
  height: 80px;
  border-radius: 40px;
  border-width: 10px;
  background-color: #252d33;
  padding: 10px;
  color: #b1f7e0;
  border-color: #b1f7e0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
}

footer {
    position: relative;
    height: 80px;
    text-align: center;
    width: 100%;
    background:#252d33;
    padding-top: 30px;
    color: #fff;
    border-top: 2px #f3f56f solid;
}
